diff --git a/res/layout/fragment_settings_about.xml b/res/layout/fragment_settings_about.xml
index d8eadec0..be437b93 100644
--- a/res/layout/fragment_settings_about.xml
+++ b/res/layout/fragment_settings_about.xml
@@ -4,7 +4,9 @@
     <androidx.constraintlayout.widget.ConstraintLayout android:layout_width="fill_parent" android:layout_height="wrap_content">
         <androidx.appcompat.widget.Toolbar android:theme="@style/ToolbarTheme" android:id="@id/toolbar" android:background="@color/dex_gray_150" android:layout_width="fill_parent" android:layout_height="?actionBarSize" android:layout_marginStart="0.0dip" app:contentInsetStartWithNavigation="64.0dip" app:layout_constraintEnd_toEndOf="parent" app:layout_constraintStart_toStartOf="parent" app:layout_constraintTop_toTopOf="parent" app:navigationIcon="@drawable/ic_back_arrow" app:title="@string/about" app:titleMarginStart="0.0dip" />
         <View android:id="@id/divider" android:background="@color/dex_gray_300" android:layout_width="fill_parent" android:layout_height="1.0dip" app:layout_constraintTop_toBottomOf="@id/toolbar" />
-        <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/software_number_cell" android:tag="binding_1" android:layout_width="fill_parent" android:layout_height="wrap_content" android:layout_marginTop="16.0dip" app:layout_constraintTop_toBottomOf="@id/divider" app:title="@string/software_number" />
+        <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/diakem_version_cell" app:detail="🧪 %%DIAKEM_VERSION%% 🧪" android:layout_width="fill_parent" android:layout_height="wrap_content" android:layout_marginTop="16.0dip" app:layout_constraintTop_toBottomOf="@id/divider" app:title="🐌 DiaKEM Version" />
+        <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/diakem_build_cell" app:detail="⏰ %%DIAKEM_BUILD_TIME%%" android:layout_width="fill_parent" android:layout_height="wrap_content" app:layout_constraintTop_toBottomOf="@id/diakem_version_cell" app:title="🐌 DiaKEM Build time" />
+        <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/software_number_cell" android:tag="binding_1" android:layout_width="fill_parent" android:layout_height="wrap_content" app:layout_constraintTop_toBottomOf="@id/diakem_build_cell" app:title="@string/software_number" />
         <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/software_version_cell" android:tag="binding_2" android:layout_width="fill_parent" android:layout_height="wrap_content" app:layout_constraintTop_toBottomOf="@id/software_number_cell" app:title="@string/software_version" />
         <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/date_of_manufacture_cell" android:tag="binding_3" android:layout_width="fill_parent" android:layout_height="wrap_content" app:layout_constraintTop_toBottomOf="@id/software_version_cell" app:title="@string/date_of_manufacture" />
         <com.dexcom.phoenixuikit.uikit.widget.cells.CellSingleView android:id="@id/gtin_cell" android:tag="binding_4" android:layout_width="fill_parent" android:layout_height="wrap_content" app:layout_constraintTop_toBottomOf="@id/date_of_manufacture_cell" app:title="@string/about_gtin_title" />
diff --git a/res/values/ids.xml b/res/values/ids.xml
index f6e64086..16faf1f6 100644
--- a/res/values/ids.xml
+++ b/res/values/ids.xml
@@ -2922,6 +2922,8 @@
     <item type="id" name="snackbar_action" />
     <item type="id" name="snackbar_text" />
     <item type="id" name="snoozeDivider" />
+    <item type="id" name="diakem_version_cell" />
+    <item type="id" name="diakem_build_cell" />
     <item type="id" name="software_number_cell" />
     <item type="id" name="software_version_cell" />
     <item type="id" name="somewhat_helpful" />
